<link rel="stylesheet" href="/stylesheets/admin/addProduct.css">
<div class="add-product-container">
    <a href="/admin/products" class="back-link">← Back to product list</a>
    <h1>Add New Product</h1>
 
    <form class="product-form" action="/admin/add-product" method="post" enctype="multipart/form-data">
        <!-- Description Section -->
        <div class="section">
            {{!-- <h2>Description</h2> --}}

            <div class="form-group">
                <label for="productName">Product Name</label>
                <input type="text" id="productName" placeholder="Product Name" name="productName" minlength="5" maxlength="20">
            </div>

            <div class="form-group">
                <label for="description">Product Description</label>
                <textarea id="description" name="productDescription" placeholder="Product Description" minlength="350" maxlength="450"></textarea>
            </div>
        </div>

        <!-- Category Section -->
        <div class="section">
            {{!-- <h2>Categories</h2>
            {{#each category}}
            <div class="form-group">
                <label for="productCategory1">{{categoryName}}</label>
                <select id="productCategory1" name="{{categoryName}}">
                    <option>None</option>
                    {{#each subCategories}}
                    <option >{{this}}</option>
                    {{/each}}
                </select>
            </div>
            {{/each}} --}}
            <h2>Brand</h2>
            <div class="form-group">

                <select id="productCategory1" name="brand">
                    <option selected>None</option>
                    {{#each brands}}
                    <option>{{categoryName}}</option>
                    {{/each}}
                </select>
            </div>
            <h2>Type</h2>
            <div class="form-group">

                <select id="productCategory1" name="type">
                    <option selected>None</option>
                    {{#each types}}
                    <option>{{categoryName}}</option>
                    {{/each}}
                </select>
            </div>
            <h2>Gears</h2>
            <div class="form-group">

                <select id="productCategory1" name="gear">
                    <option selected>None</option>
                    {{#each gears}}
                    <option>{{categoryName}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <!-- Price -->
        <div class="section">
            <h2>Price</h2>
            <div class="form-group">
                 <input type="text" name="price" placeholder="Price" required>
            </div>
        </div>

        <!-- Inventory Section -->
        <div class="section">
            <h2>Inventory</h2>

            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="text" id="quantity" name="stock" placeholder="Min 10" required>
            </div>
        </div>
        

        <!-- Image Upload Section -->
        <div class="section">
            <h2>Images</h2>

            <div class="image-upload-grid">
                <div class="image-upload-group">
                    <label for="imageUpload1" class="image-upload-label">
                        <img src="#" alt="Upload Image">
                        <span>Upload Image</span>
                    </label>
                    <input type="file" id="imageUpload1"  name="mainImage" style="display: none;" required>
                </div>

                <div class="image-upload-group">
                    <label for="imageUpload2" class="image-upload-label">
                        <img src="#" alt="Upload Image">
                        <span>Upload Image</span>
                    </label>
                    <input type="file" id="imageUpload2" style="display: none;" name="additionalImages" multiple>
                </div>

                {{!-- <div class="image-upload-group">
                    <label for="imageUpload3" class="image-upload-label">
                        <img src="#" alt="Upload Image">
                        <span>Upload Image</span>
                    </label>
                    <input type="file" id="imageUpload3" style="display: none;" name="productImage">
                </div>

                <div class="image-upload-group">
                    <label for="imageUpload4" class="image-upload-label" >
                        <img src="#" alt="Upload Image">
                        <span>Upload Image</span>
                    </label>
                    <input type="file" id="imageUpload4" style="display: none;" name="productImage">
                </div> --}}
            </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group">
            <button type="submit">Add Product</button>
        </div>
    </form>
</div>