<link rel="stylesheet" href="/stylesheets/admin/dashboard.css">
<h1>Dashboard</h1>

<div class="dashboard">
    <div class="graph-container">
        <canvas id="salesGraph"></canvas>
        <div class="buttons">
            <button onclick="showGraph('weekly')">Weekly</button>
            <button onclick="showGraph('monthly')">Monthly</button>
            <button onclick="showGraph('yearly')">Yearly</button>

        </div>

        <div class="info-boxes">
            <div class="info-box" onclick="openModal('bestSellingProducts')">
                <h3>Best Selling Product</h3>
                <p>Product Name</p>
            </div>
            <div class="info-box" onclick="openModal('bestBrand')">
                <h3>Best Brand</h3>
                <p>Brand Name</p>
            </div>
            <div class="info-box" onclick="openModal('bestType')">
                <h3>Best Type</h3>
                <p>Type Name</p>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <div id="bestSellingProducts" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('bestSellingProducts')">&times;</span>
            <h2>Best Selling Products</h2>
            <table>
                <thead>
                    <tr>
                        <th>Product Image</th>
                        <th>Product</th>
                        <th>Sales</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each topProduct}}
                    {{#each productDetails}}
                    <tr>
                        <td><img src="{{mainImage}}" alt="Product 1" class="product-image"></td>
                        <td>{{productName}}</td>
                        <td>{{../quantity}}</td>
                    </tr>
                    {{/each}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>


    <div id="bestBrand" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('bestBrand')">&times;</span>
            <h2>Best Brands</h2>
            <table>
                <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Sales</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each brandSales}}
                    <tr>
                        <td>{{_id}}</td>
                        <td>{{totalQuantity}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div id="bestType" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('bestType')">&times;</span>
            <h2>Best Types</h2>
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Sales</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each typeSales}}
                    <tr>
                        <td>{{_id}}</td>
                        <td>{{totalQuantity}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="/javascripts/admin/dashboard.js"></script>