<link rel="stylesheet" href="/stylesheets/admin/orderManagement.css">

<div class="header">
    <h1>Order Management</h1>
    {{!-- <div class="search-container">
        <input type="text" class="search-input" placeholder="Search...">
    </div> --}}
</div>
<table class="order-table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>User Name</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
        <tr>
            <td><a href="/admin/order/{{_id}}">{{_id}}</a></td>
            <td><a href="/admin/order/{{_id}}">{{address.firstName}}</a></td>
            <td>{{createdAt}}</td>
            <td><a href="/admin/order/{{_id}}">{{totalAmount}}</a></td>
            <td>
                <div class="status-container">
                    <button class="status-btn {{orderStatus}}">{{orderStatus}}</button>
                    <div class="status-options">
                        <a data-status="pending" onclick="pending('{{_id}}','{{userId}}')">Pending</a>
                        <a data-status="canceled" onclick="canceled('{{_id}}','{{userId}}')">Canceled</a>
                        <a data-status="delivered" onclick="delivered('{{_id}}','{{userId}}')">Delivered</a>
                    </div>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="/javascripts/admin/orderManagement.js"></script>