<style>
    
.user-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12.5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.user-table th {
    padding: 12px 15px;
    text-align: left;
    font-weight: 600;
    border-bottom: 2px solid #ddd; /* Adds bottom border to the header */
    color: #4a4a4a;
    border: 1px solid #ddd;
}

.user-table td {
    padding: 12px 15px;
    text-align: left;
    font-weight: 600;
    border: none; /* Remove all borders between rows */
}

.user-table tbody tr {
    background-color: transparent;
}

.user-table a {
    color: #4a4a4a;
    text-decoration: none;
    font-weight: 600;
}

.user-table a:hover {
    text-decoration: underline;
}
</style>

<h1>Sales Report</h1>
<p>Sales Count: {{salesCount}}</p>
<p>Total Amount: {{totalAmount}}</p>
<p>Total Discount: {{discountedAmount}}</p>
<table class="user-table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Order Id</th>
            <th>Customer</th>
            <th>Status</th>
            <th>payment</th>
            <th>qty</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
        {{#each items}}
        <tr>
            <td>{{formatDate ../createdAt}}</td>
            <td>{{../_id}}</td>
            <td>{{../address.firstName}}</td>
            <td>{{../orderStatus}}</td>
            <td>{{../paymentMethod}}</td>
            <td>{{quantity}}</td>
            <td>{{totalPrice}}</td>
        </tr>
        {{/each}}
        {{/each}}
    </tbody>
</table>