<link rel="stylesheet" href="/stylesheets/user/address.css" />

<div class="address-section">
  <button class="add-address-btn">+ Add A NEW ADDRESS</button>
  {{#each addresses.address}}
  <div class="address-card">
    <div class="address-header">
      <span>{{addressType}}</span>
      <div class="dropdown">
        <button class="options-btn">...</button>
        <div class="dropdown-content">
          <button class="dropdown-item edit" data-id="{{_id}}" data-email="{{email}}" data-firstname="{{firstName}}"
            data-lastname="{{lastName}}" data-address="{{address}}" data-city="{{city}}" data-phone="{{phoneNumber}}"
            data-pincode="{{pincode}}" data-country="{{country}}" data-state="{{state}}" data-company="{{company}}"
            data-addresstype="{{addressType}}">Edit</button>
          <button class="dropdown-item" onclick="deleteAdd('{{_id}}', this)">Delete</button>

        </div>
      </div>
    </div>
    <div class="address-content">
      <p>{{firstName}} {{phoneNumber}}</p>
      <p>{{email}}</p>
      <p>{{address}}, {{city}}</p>
      <p>{{state}},&nbsp; {{pincode}}</p>
    </div>
  </div>
  {{/each}}
</div>

<!-- Add Address Modal -->
<div id="addAddressModal" class="modal">
  <div class="modal-content">
    <h2>Add Address</h2>
    <form id="addAddressForm">
      <label>Contact</label>
      <input type="number" placeholder="Mobile Number" maxlength="10"/>

      <div class="form-row">
        <label><input type="radio" name="addressType" value="home"  />
          Home</label>
        <label><input type="radio" name="addressType" value="work" />
          Work</label>
      </div>

      <select>
        <option value="" disabled selected>Country / Region</option>
        <option value="us">United States</option>
        <option value="india">India</option>
        <option value="dubai">Dubai</option>
      </select>

      <div class="form-row">
        <input type="text" placeholder="First name"  />
        <input type="text" placeholder="Last name"  />
      </div>

      <input type="text" placeholder="Company (optional)" />

      <input type="text" placeholder="Address"  />

      <div class="form-row">
        <input type="text" placeholder="City/District/Town"  />
        <input type="text" placeholder="State" >
      </div>

      <div class="form-row">
        <input type="email" placeholder="Email"  />
        <input type="number" placeholder="Pincode"  maxlength="6"/>
      </div>

      <button type="submit" class="modal-btn">Add</button>
    </form>
  </div>
</div>


<!-- Edit Address Modal -->
<div id="editAddressModal" class="modal">
  <div class="modal-content">
    <h2>Edit Address</h2>
    <form id="editAddressForm">
      <label>Contact</label>
      <input type="hidden" id="editId" name="editId" class="editId">
      <input type="number" id="editPhone" placeholder="Phone number" maxlength="6" />

      <div class="form-row">
        <label><input type="radio" id="editHome" name="editAddressType" value="home" /> Home</label>
        <label><input type="radio" id="editWork" name="editAddressType" value="work" /> Work</label>
      </div>

      <select id="editCountry" >
        <option value="" disabled selected>Country / Region</option>
        <option value="us">United States</option>
        <option value="india">India</option>
        <option value="dubai">Dubai</option>
      </select>

      <div class="form-row">
        <input type="text" id="editFirstName" placeholder="First name"  />
        <input type="text" id="editLastName" placeholder="Last name"  />
      </div>

      <input type="text" id="editCompany" placeholder="Company (optional)" />

      <input type="text" id="editAddress" placeholder="Address"  />

      <div class="form-row">
        <input type="text" id="editCity" placeholder="City/District/Town"  />
        <input type="text" id="editState" placeholder="State"  />
      </div>

      <div class="form-row">
        <input type="text" id="editEmail" placeholder="Email"  />
        <input type="number" id="editPincode" placeholder="Pincode" maxlength="6" />
      </div>

      <button type="submit" class="modal-btn">Save</button>
    </form>
  </div>
</div>

<script src="/javascripts/user/address.js"></script>