<link rel="stylesheet" href="/stylesheets/user/shop.css">
<div class="container">
    <div class="breadcrumbs">
        <a href="/">Home</a> > <a href="/shop">Shop</a>
    </div>
    <div class="header">
        <!-- <h1>Categories</h1> -->
        <div class="sort-by">
            Sort by: <a href="#">Price</a>
        </div>
    </div>
    <div class="content">
        <aside class="sidebar">
            {{!-- <div class="category">
                <h2>Categories</h2>
                <ul>
                    <li><a href="#">All Products</a></li>
                    <li><a href="#">Camera</a></li>
                    <li><a href="#">Lenses</a></li>
                    <li><a href="#">Accessories</a></li>
                </ul>
            </div> --}}
            {{!-- {{#each categories}}
            <div class="brand">
                <h2>{{categoryName}}</h2>
                <ul>
                    {{#each subCategories}}
                    <li><a href="#">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>
            {{/each}} --}}
            <div class="brand">
                <h2>Brand</h2>
                <ul>
                    {{#each brands}}
                    <li><a href="#">{{categoryName}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="type">
                <h2>Type</h2>
                <ul>
                    {{#each types}}
                    <li><a href="#">{{categoryName}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="gear">
                <h2>Gear</h2>
                <ul>
                    {{#each gears}}
                    <li><a href="#">{{this.categoryName}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="prices">
                <h2>Prices</h2>
                <ul>
                    <li><a href="#">$499-$999</a></li>
                    <li><a href="#">$999-$1499</a></li>
                    <li><a href="#">$1499-$1999</a></li>
                    <li><a href="#">$1999-$2499</a></li>
                    <li><a href="#">$2499-$2999</a></li>
                    <li><a href="#">$2999-$3499</a></li>
                </ul>
            </div>
        </aside>
        <main class="main-content">
            <div class="cards">
                {{#each products}}
                <div class="card">
                    <img src="images/icons/Wishlist.svg" alt="Wishlist Icon" class="wishlist-icon">
                    <a href="/shop/{{_id}}" style="text-decoration: none;">
                        {{!-- <div class="badge">New</div> --}}
                        <img src="{{mainImage}}" alt="Product Image" class="product-image">
                        <div class="card-content-wrapper">
                            {{!-- <p class="stock-status">in stock</p> --}}
                            {{#if stock}}
                            <p class="stock-status">
                                In Stock
                            </p>
                            {{else}}
                            <p class="stock-status">
                                Out of Stock
                            </p>
                            {{/if}}
                    </a>
                    <h2>{{productName}}</h2>
                    <div class="rating">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                    <p class="price">$ {{price}}.00</p>
                    <a href="/admin/shops/add-to-cart/:{{_id}}"><button>Add to Cart</button></a>
                </div>
            </div>
            {{/each}}
    </div>
    <div class="pagination">
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">...</a>
        <a href="#">10</a>
    </div>
    </main>
</div>
</div>

<script src="/javascripts/user/shop.js"></script>